.partners {
  padding: var(--paddingSection);
  background: var(--white);
  box-shadow: var(--boxShadow);
  min-height: 362px;
  .partners-title {
    margin-bottom: 1rem;
    h1 {
      font-size: 36px;
    }
  }
  .partners-images {
    .partner-img {
      position: relative;
      width: 220px;
      height: 80px;
    }
  }
}
