.cards-card-img-exists {
    width: 100%;
    max-width: 503px;
    height: 511px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .card-title {
        font-size: 20px;
    }

    .card-header {
        .card-header-title {
            p {

                font-weight: 700;
            }
        }
    }

    .content-block {
        p {
            font-size: var(--font-size-m);
        }
    }

    .card-footer {
        margin-top: auto;

        button {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            outline: none;
            border: none;
            cursor: pointer;
            border: 1px solid transparent;
            transition: background 0.3s ease;
        }

        .img-exists-btn {
            background: #fff;
            color: var(--primary);

            &:hover {
                background: var(--button-bg-color);
                color: #fff;
            }

        }

        .img-not-exists-btn {
            background: var(--button-bg-color);
            color: #fff;

            &:hover {
                background: #fff;
                color: var(--button-bg-color);
                border-color: var(--button-bg-color);
            }
        }
    }
}

.cards-card-img-notExists {
    width: 100%;
    max-width: 503px;
    height: 511px;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .card-title {
        color: #252525;
        font-size: 20px;
    }

    .card-header {
        color: #252525;

        .card-header-title {
            p {
                font-weight: 700;
            }
        }
    }

    .content-block {
        color: #252525;

        p {
            font-size: var(--font-size-m);
        }
    }

    .card-footer {
        margin-top: auto;

        button {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            outline: none;
            border: none;
            cursor: pointer;
            border: 1px solid transparent;
            transition: background 0.3s ease;
        }

        .img-exists-btn {
            background: #fff;
            color: var(--primary);

            &:hover {
                background: var(--button-bg-color);
                color: #fff;
            }

        }

        .img-not-exists-btn {
            background: var(--button-bg-color);
            color: #fff;

            &:hover {
                background: #fff;
                color: var(--button-bg-color);
                border-color: var(--button-bg-color);
            }
        }
    }

}