@media only screen and (max-width: 575px) {
  .footer {
    &::before {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: scaleX(-1);
    }
    .footer-copyright {
      z-index: 9999;
      padding: 0.5rem;
      background: var(--white);
      border-radius: 5px;
      box-shadow: var(--boxShadow);
    }
  }
}

/* Mobile Styles (up to 767px) */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 20px !important;
  }
  p,
  a {
    font-size: 12px !important;
  }
  // header
  header {
    padding: 1rem 0.5rem !important;
    gap: 0.2em;
    .circles-wrapper {
      padding: 0 !important;
      .circle-item {
        margin-bottom: 8px !important;
      }
    }
    .block {
      display: flex !important;
    }
    #logo {
      width: 170px;
    }
    ul,
    .switcher {
      display: none !important;
    }
  }
  // carousel
  .carousel #carousel-item {
    height: 100% !important;
    height: 250px !important;
  }
  // achievements
  .achievements {
    margin-top: 2rem !important;
    padding: 2rem !important;
    flex-direction: column;
    gap: 2rem 0;
    .title-wrapper {
      width: 100%;
      text-align: center;
      .achievements-title {
        width: 100% !important;
      }
    }
    .box-wrapper {
      width: 100%;
      gap: 2rem !important;
      .box-item {
        margin: auto auto;
      }
    }
  }
  //services
  .services {
    padding: 2rem !important;
    margin-top: 0.5rem !important;
    .card-title {
      flex-wrap: wrap !important;
    }

    .service-content {
      margin-top: 2rem !important;
      .content-left {
        width: 95% !important;
        margin: 0 !important;
        .card-item-left {
          width: 100% !important;
          height: fit-content !important;
          .card-title {
            img {
              height: 50px !important;
            }
          }
        }
      }
      .content-right {
        margin: 0 !important;
        .card-item {
          height: fit-content !important;
          .ant-card-head-title {
            font-size: 16px !important;
          }
          .btn {
            position: relative !important;
            bottom: -0.5rem !important;
          }
        }
      }
    }
  }
  // other-section
  .other-section {
    padding: 2rem !important;
    margin-top: 0.5rem !important;
  }
  // community
  .community {
    margin-top: 3rem !important;
    padding: 2rem !important;
    .community-content {
      flex-direction: column !important;
      .content-text {
        width: 100% !important;
        p {
          font-size: 14px !important;
        }
        span {
          font-size: 12px !important;
        }
      }
      .content-images {
        width: 100% !important;
        justify-content: center;
      }
    }
  }
  // join
  .join {
    padding: 2rem !important;
    margin-top: 2rem !important;
    .card-item {
      h1 {
        font-size: 22px !important;
      }
      .ant-card-body {
        padding: 2rem !important;
      }
    }
    .join-card {
      width: 100% !important;
      .ant-card-head-title {
        text-wrap: pretty !important;
        h1 {
          font-size: 18px !important;
        }
      }
    }
    .join-image {
      img {
        max-width: 100% !important;
      }
      .count-users {
        width: 50% !important;
        font-size: 14px !important;
      }
    }
    .card-link {
      h3 {
        font-size: 14px !important;
      }
    }
  }
  // partners
  .partners {
    padding: 2rem !important;
    margin-top: 2rem !important;
    .partners-title {
      h1 {
        font-size: 24px !important;
      }
    }
    .partners-images {
      justify-content: center !important;
    }
  }
  // comment
  .comment {
    padding: 2rem !important;
    margin-top: 2rem !important;
  }
  // footer
  .footer {
    padding: 2rem !important;
    margin-top: 2rem !important;

    .footer-right {
      flex-direction: column;
    }
  }
}

/* Tablet Styles (768px to 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 24px !important;
  }
  p,
  a {
    font-size: 14px !important;
  }
  // header
  header {
    padding: 1rem 2rem !important;
    ul {
      flex: 0.7 !important;
    }
  }
  // carousel
  #carousel-item {
    background-size: contain !important;
  }
  // achievements
  .achievements {
    padding: 2rem !important;
    flex-direction: column;
    gap: 2rem 0;
    .title-wrapper {
      width: 100%;
      text-align: center;
      .achievements-title {
        width: 100% !important;
        font-size: 35px !important;
      }
    }
    .box-wrapper {
      width: 100%;
      gap: 2rem !important;
      .box-item {
        margin: auto auto;
      }
    }
  }
  ///services
  .services {
    padding: 2rem !important;
    .service-content {
      margin-top: 2rem !important;
      .content-left {
        width: 100% !important;
        margin: 0 !important;
        .card-item-left {
          width: 558px !important;
          height: fit-content !important;
        }
      }
    }
  }
  // community
  .community {
    padding: 2rem !important;
    .community-content {
      .content-text {
        p {
          font-size: 14px !important;
        }
        span {
          font-size: 12px !important;
        }
      }
    }
  }
  // join
  .join {
    padding: 2rem !important;
    margin-top: 2rem !important;
    .card-item {
      h1 {
        font-size: 28px !important;
      }
      .ant-card-body {
        padding: 3rem !important;
      }
    }
    .join-image {
      img {
        max-width: 100% !important;
      }
    }
    .card-link {
      h3 {
        font-size: 14px !important;
      }
    }
  }
  // comment
  .comment {
    padding: 2rem !important;
    margin-top: 2rem !important;
  }
  // partners
  .partners {
    padding: 2rem !important;
    margin-top: 2rem !important;
    .partners-title {
      h1 {
        font-size: 28px !important;
      }
    }
  }
  // footer
  .footer {
    padding: 2rem !important;
    margin-top: 2rem !important;

    .footer-right {
      flex-direction: column;
    }
  }
}

/* Desktop Styles (1024px and above) */
@media only screen and (min-width: 1024px) {
  /* Your desktop styles here */
  p,
  a {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1290px) {
  .other-carousel {
    width: 100% !important;
    .slick-slide {
      margin: 0 auto !important;
    }
  }
}
