@media only screen and (max-width: 575px) {
  .join {
    .join-image {
      max-height: 350px !important;
      height: 100%;
    }
  }

  // services
  #services {
    padding: 0 !important;

    // CARDS-PART
    .cards-card-img-exists,
    .cards-card-img-notExists {
      height: auto;
    }

    // BANNER-PART
    #banner {
      padding: 16px !important;

      .title-block {
        width: 100%;
      }

      .phone-block {
        img {
          width: 50px;
          height: 50px;
        }

        h2 {
          font-size: 20px !important;
        }
      }

      .button-group {

        button {
          font-size: 16px;
          width: fit-content !important;
          height: 20px !important;
        }
      }
    }
  }

  .footer {
    &::before {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: scaleX(-1);
    }

    .footer-copyright {
      z-index: 9999;
      padding: 0.5rem;
      background: var(--white);
      border-radius: 5px;
      box-shadow: var(--boxShadow);
    }
  }
}

/* Mobile Styles (up to 767px) */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: var(--font-size-l) !important;
  }

  p,
  a {
    font-size: var(--font-size-s) !important;
  }

  // header
  header {
    padding: 0.5rem 0.5rem 0 0.5em !important;
    gap: 0.2em;

    .circles-wrapper {
      padding: 0 !important;

      .circle-item {
        margin-bottom: 8px !important;
      }
    }

    .block {
      display: flex !important;
    }

    #logo {
      width: 170px;
    }

    ul,
    .switcher {
      display: none !important;
    }
  }

  // parent-story
  #parent-story {
    padding: 0 8px 16px 8px !important;
  }

  // achievements
  .achievements {
    min-height: 250px !important;
    margin-top: 24px !important;
    padding: 24px 16px !important;
    flex-direction: column;
    gap: 16px 0;

    .title-wrapper {
      width: 100%;
      text-align: center;

      .achievements-title {
        width: 100% !important;
      }
    }

    .box-wrapper {
      width: 100%;
      gap: 0 !important;
      align-items: center;

      .box-item {
        width: 100%;
        margin: auto auto;
        gap: 5px;
      }
    }
  }

  // services
  #services {
    padding: 24px 16px;

    .alice-carousel__wrapper {
      padding-right: 0 !important;
    }


    // TAB
    #tab-buttons {
      border-radius: 8px;

      #tab-button-item {
        button {
          width: fit-content;
          padding: 0.5em;
          height: 40px;
          font-size: var(--font-size-s);
          border-radius: 8px;
        }
      }
    }

    #tab-content {
      margin: 0.5em;
    }


    // BANNER-PART
    #banner {
      padding: 24px;
      height: 380px !important;

      .title-block {
        width: 100%;
      }

      .phone-block {
        img {
          width: 50px;
          height: 50px;
        }

        h2 {
          font-size: 34px;
        }
      }

      .button-group {
        button {
          font-size: var(--font-size-s);
          height: 30px !important;
        }
      }
    }
  }

  // CARD-PART
  .cards-card-img-exists,
  .cards-card-img-notExists {
    width: 95% !important;

    .card-title {
      font-size: 18px !important;
    }

    .ant-card-head,
    .ant-card-body {
      padding: 8px 16px;
    }

    .ant-card-body {
      min-height: auto !important;
    }

    .card-footer {

      button {
        height: 30px !important;
        font-size: var(--font-size-s);
      }
    }
  }

  .dialog-service,
  .dialog-send-data {
    .ant-modal-content {
      padding: 8px 16px;
    }
  }



  // other-section
  .other-section {
    padding: 16px !important;
    margin-top: 0.5rem !important;
    gap: 24px;
    min-height: fit-content !important;

    .other-title {
      margin-bottom: 0 !important;
    }

    .alice-carousel__dots {
      margin: 16px !important;

      .alice-carousel__dots-item {
        width: 8px !important;
        height: 8px !important;
      }

    }

    .other-card {
      width: 95%;
      margin: 0 auto;

      .other-card-title-block {
        h1 {
          font-size: 14px !important;
        }

        h2 {
          font-size: 18px !important;
        }
      }
    }
  }

  // community
  .community {
    margin-top: 24px !important;
    padding: 16px !important;
    min-height: 580px !important;

    .community-content {
      flex-direction: column !important;
      margin-top: 0;

      .content-text {
        width: 100% !important;

        p {
          font-size: 14px !important;
        }

        span {
          font-size: 12px !important;
        }
      }

      .content-images {
        width: 100% !important;
        justify-content: center;
      }
    }
  }

  // join
  .join {
    margin-top: 1em;
    padding: 8px !important;

    .card-item {
      min-height: fit-content !important;

      .card-link {
        margin-top: 16px !important;
      }

      .ant-card-head {
        height: fit-content !important;
      }

      .ant-card-body {
        padding: 16px !important;
      }
    }

    .join-card {
      width: 100% !important;

      .ant-card-head-title {
        text-wrap: pretty !important;

        /* Safari 9+ */
        _:default:not(:root:root),
        & {
          text-wrap: wrap !important;
        }

        h1 {
          font-size: var(--font-size-m) !important;
        }
      }
    }

    .join-image {
      height: fit-content;
      width: 100% !important;
    }

    .card-link {
      h3 {
        font-size: var(--font-size-s) !important;
      }
    }
  }

  // partners
  .partners {
    padding: 16px !important;
    min-height: fit-content !important;
    margin-top: 2em !important;

    .partners-title {
      h1 {
        font-size: var(--font-size-l) !important;
      }
    }

    .partners-images {
      justify-content: center !important;
    }
  }

  // comment
  .comment {
    padding: 8px !important;
    margin-top: 2rem !important;

    .ant-card-body {
      font-size: var(--font-size-s) !important;
    }
  }

  // footer
  .footer {
    padding: 1.5rem !important;
    margin-top: 1.5rem !important;

    .footer-right {
      flex-direction: column;
    }
  }

  // additional
  #additional {
    padding: 1em !important;
    margin-top: 1em !important;
  }
}

/* Tablet Styles (768px to 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: var(--font-size-l) !important;
  }

  p,
  a {
    font-size: var(--font-size-m) !important;
  }

  // header
  header {
    padding: 1rem 2rem !important;

    .switcher {
      flex: 0.5 !important;
    }
  }

  // parent-story
  #parent-story {
    padding: 0 2rem 1em !important;
  }

  // achievements
  .achievements {
    padding: 2rem !important;
    flex-direction: column;
    gap: 2rem 0;

    .title-wrapper {
      width: 100%;
      text-align: center;

      .achievements-title {
        width: 100% !important;
        font-size: 35px !important;
      }
    }

    .box-wrapper {
      width: 100%;
      gap: 2rem !important;
    }
  }

  #services {
    .alice-carousel__wrapper {
      padding-right: 0 !important;
    }

    // CARDS-PART
    .cards-card-img-exists,
    .cards-card-img-notExists {
      width: 95% !important;
    }
  }



  // community
  .community {
    padding: 16px !important;
    min-height: 450px !important;

    .community-content {
      .content-text {
        p {
          font-size: var(--font-size-m) !important;
        }

        span {
          font-size: var(--font-size-s) !important;
        }
      }
    }
  }

  // other-section
  .other-section {
    padding: 16px !important;
    min-height: fit-content !important;

    .other-title {
      font-size: var(--font-size-l) !important;
    }

    .other-card {
      p {
        font-size: var(--font-size-s) !important;
      }

      .other-card-title-block {
        h1 {
          font-size: var(--font-size-l) !important;
        }

        h2 {
          font-size: var(--font-size-l) !important;
        }
      }
    }
  }

  // join
  .join {
    padding: 16px !important;
    margin-top: 2em !important;

    .card-item {
      min-height: fit-content !important;

      h1 {
        font-size: var(--font-size-l) !important;
      }

      .ant-card-head {
        height: fit-content !important;
      }

      .ant-card-body {
        padding: 16px 2em !important;
      }
    }

    .join-image {
      height: 731px;

      img {
        max-width: 100% !important;
      }
    }

    .card-link {
      h3 {
        font-size: 14px !important;
      }
    }
  }

  // comment
  .comment {
    padding: 8px !important;
    margin-top: 2rem !important;
  }

  // partners
  .partners {
    padding: 16px !important;
    min-height: fit-content !important;
    margin-top: 2em !important;

    .partners-title {
      h1 {
        font-size: var(--font-size-l) !important;
      }
    }
  }

  // footer
  .footer {
    padding: 2rem !important;
    margin-top: 2rem !important;

    .footer-right {
      flex-direction: column;
    }
  }

  // additional
  #additional {
    padding: 2rem !important;
    margin-top: 2rem !important;
  }
}

/* Desktop Styles (1024px and above) */
@media only screen and (min-width: 1024px) and (max-width: 1240px) {
  .join-image {
    height: 731px;

    img {
      max-width: 100% !important;
    }
  }

  #services {
    .alice-carousel__wrapper {
      padding-right: 0 !important;
    }

    // CARDS-PART
    .cards-card-img-exists,
    .cards-card-img-notExists {
      max-width: 95% !important;
    }
  }

  #header {
    .switcher {
      flex: 0.5;
    }
  }

  p,
  a {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1920px) {
  .other-carousel {
    width: 100% !important;

    .slick-slide {
      margin: 0 auto !important;
    }
  }

  .join-image {
    height: 731px;

    img {
      max-width: 100% !important;
    }
  }
}