* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  h1,
  p,
  span,
  a {
    color: var(--textColor);
  }
}

/* variables */
:root {
  --bgColor: #f5f8fc;
  --primary: #193bda;
  --white: #fff;
  --textColor: #192348;
  --btnColor: linear-gradient(180deg, #0066ff 0%, #444cfc 100%);
  --loginBg: #e7f1fb;
  --boxShadow: 0px 20px 50px 0px #0000001a;
  --radiusCard: 10px, 10px, 0px, 0px;
  --mainPaddingX: 1rem;
  --mainPaddingY: 1rem;
  --paddingSection: 3em 5em;
}

body {
  width: 100%;
  max-width: 1980px;
  height: 100%;
  margin: 0 auto;
  background: var(--bgColor);
  scroll-behavior: smooth;
}
// styles for Error page
.error {
  height: 100dvh;
  h1 {
    font-size: 54px;
  }
  button {
    width: 100%;
    max-width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    outline: none;
    border-radius: 15px;
    border: none;
    box-shadow: var(--boxShadow);
    background: var(--primary);
    color: #fff;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

// styles for NOT FOUND PAGE
.not-found {
  width: 100%;
  height: 100dvh;
  h1 {
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
  }
}

/* usable classes */
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-around {
  justify-content: space-around;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.gap-1 {
  gap: 8px;
}
.gap-2 {
  gap: 15px;
}
.gap-3 {
  gap: 22px;
}
.gap-4 {
  gap: 26px;
}
.gap-5 {
  gap: 2.5rem;
}
.gap-x-1 {
  gap: 0 8px;
}
.gap-x-2 {
  gap: 0 15px;
}
.gap-x-3 {
  gap: 0 22px;
}
.gap-x-4 {
  gap: 0 26px;
}
.gap-y-1 {
  gap: 8px 0;
}
.gap-y-2 {
  gap: 15px 0;
}
.gap-y-3 {
  gap: 22px 0;
}
.gap-y-4 {
  gap: 26px 0;
}
.gap-y-5 {
  gap: 32px 0;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.m-x-auto {
  margin: 0 auto;
}

.m-1 {
  margin: 8px;
}
.m-2 {
  margin: 15px;
}
.m-3 {
  margin: 22px;
}
.m-4 {
  margin: 26px;
}
.m-x-1 {
  margin: 0 8px;
}
.m-x-2 {
  margin: 0 15px;
}
.m-x-3 {
  margin: 0 22px;
}
.m-x-4 {
  margin: 0 26px;
}
.m-y-1 {
  margin: 8px 0;
}
.m-y-2 {
  margin: 15px 0;
}
.m-y-3 {
  margin: 22px 0;
}
.m-y-4 {
  margin: 26px 0;
}
.m-t-auto {
  margin-top: auto;
}
.m-t-1 {
  margin-top: 8px;
}
.m-t-2 {
  margin-top: 15px;
}
.m-t-3 {
  margin-top: 22px;
}
.m-t-4 {
  margin-top: 26px;
}
.m-b-1 {
  margin-bottom: 8px;
}
.m-b-2 {
  margin-bottom: 15px;
}
.m-b-3 {
  margin-bottom: 22px;
}
.m-b-4 {
  margin-bottom: 26px;
}
.p-1 {
  padding: 8px;
}
.p-2 {
  padding: 15px;
}
.p-3 {
  padding: 22px;
}
.p-4 {
  padding: 26px;
}
.p-x-1 {
  padding: 0 8px;
}
.p-x-2 {
  padding: 0 15px;
}
.p-x-3 {
  padding: 0 22px;
}
.p-x-4 {
  padding: 0 26px;
}
.p-y-1 {
  padding: 8px 0;
}
.p-y-2 {
  padding: 15px 0;
}
.p-y-3 {
  padding: 22px 0;
}
.p-y-4 {
  padding: 26px 0;
}

.w-100 {
  width: 100%;
}
.w-80 {
  width: 80%;
}
.w-30 {
  width: 30%;
}
.w-50 {
  width: 50%;
}
.h-100 {
  height: 100%;
}
