.other-section {
  min-height: 533px;
  padding: var(--paddingSection);

  .alice-carousel__dots {
    .alice-carousel__dots-item {
      width: 12px;
      height: 12px;
      opacity: 0.5;
      background: var(--primary);
    }

    .__active {
      background: #408adf;
      opacity: 1;
    }
  }


  .other-title {
    margin-bottom: 1em;

    h1 {
      font-size: 36px;
      font-weight: 600;
    }
  }

  .other-card {
    background: #fff;
    border-radius: 8px;
    max-width: 319px;
    min-height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .other-img {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 30cqh;
      max-height: 200px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .other-card-body {
      min-height: 118px;
      word-break: keep-all;
      border-radius: 16px;
      background: rgba(205, 222, 255, 0.39);
      padding: 8px 16px;
      font-size: 13px;
      color: rgba(100, 116, 139, 0.986);
      margin-top: 16px;

    }
  }
}