.carousel {
  position: relative;
  #carousel-item {
    width: 100%;
    height: 595px;
    object-fit: fill;
  }
  .carousel-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--white);
    outline: none;
    border: none;
    box-shadow: var(--boxShadow);
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
      color: #fff;
      background: linear-gradient(90.05deg, #2337f0 27.8%, #00a7ff 98.65%);
    }
  }
}
