.services {
  padding: var(--paddingSection);
  margin-top: 3rem;
  .services-title {
    h1 {
      font-size: 36px;
    }
  }
  .service-content {
    margin-top: 3rem;
    width: 100%;
    .content-left {
      margin-right: 4em;
      .card-title {
        h1 {
          color: #fff;
          font-size: 28px;
        }
      }
      .line-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
      .card-item-left {
        width: 477px;
        height: 564px;
      }
    }
    .content-right {
      .card-item {
        width: 100%;
        max-width: 558px;
        min-height: 290px;
        height: 100%;
        p {
          font-size: 14px;
        }
        .btn {
          position: absolute;
          bottom: 1.5rem;
          left: 50%;
          transform: translateX(-50%);
        }
        .line-bottom {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
