.btn-reusable {
  min-width: 141px;
  padding: 0 1.5rem;
  height: 36px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  background: rgba(8, 97, 199, 1);
  position: relative;
  transition: all 0.2s linear;
  &:hover {
    background: #3f94f7;
  }
}
