.achievements {
  min-height: 355px;
  background: var(--white);
  box-shadow: var(--boxShadow);
  margin-top: 4rem;
  padding: var(--paddingSection);

  .title-wrapper {
    max-width: 600px;

    .achievements-title {
      font-size: 60px;
      width: 90%;
    }
  }

  .box-wrapper {
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    .box-item {
      word-break: break-all;

      h1 {
        font-size: 40px;
      }
    }
  }
}