/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/Achievement/style.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.achievements {
  min-height: 355px;
  background: var(--white);
  box-shadow: var(--boxShadow);
  margin-top: 4rem;
  padding: var(--paddingSection);
  flex-wrap: wrap;
}
.achievements .title-wrapper {
  flex: 1 1;
}
.achievements .title-wrapper .achievements-title {
  font-size: 60px;
  width: 90%;
}
.achievements .box-wrapper {
  flex: 1.5 1;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.achievements .box-wrapper .box-item {
  flex-basis: 350px;
}
.achievements .box-wrapper .box-item h1 {
  font-size: 40px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/Carousel/style.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.carousel {
  position: relative;
}
.carousel #carousel-item {
  width: 100%;
  height: 595px;
  object-fit: cover;
}
.carousel .carousel-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--white);
  outline: none;
  border: none;
  box-shadow: var(--boxShadow);
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.carousel .carousel-btn:hover {
  color: #fff;
  background: linear-gradient(90.05deg, #2337f0 27.8%, #00a7ff 98.65%);
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/Footer/style.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer {
  margin-top: 6rem;
  min-height: 322px;
  background: var(--white);
  box-shadow: var(--boxShadow);
  padding: 44px 106px 24px 106px;
  position: relative;
}
.footer::before {
  content: url("/assets/footer/shapws.svg");
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer .footer-links {
  margin-left: 9%;
  flex: 1 1;
}
.footer .footer-links a {
  color: #000 !important;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.footer .footer-links a:hover {
  opacity: 0.7;
}
.footer .footer-right {
  flex: 0.5 1;
}
.footer .footer-right .footer-address li {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.footer .footer-right .footer-address li:hover {
  opacity: 0.7;
}
.footer .footer-right .footer-uzdst li img {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.footer .footer-right .footer-uzdst li img:hover {
  opacity: 0.7;
}
.footer p,
.footer a {
  font-size: 18px;
  color: #64748b;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/@core/components/Footer/Marquee.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-text {
  white-space: nowrap;
  color: red;
  text-transform: uppercase;
  font-size: 20px;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/Community/style.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.community {
  margin-top: 5rem;
  min-height: 636px;
  padding: 64px 0 64px 103px;
  background: var(--white);
  box-shadow: var(--boxShadow);
  position: relative;
}
.community::before {
  content: url("/assets/collective/shapwsCardBottom.svg");
  position: absolute;
  bottom: 0;
  left: 0;
}
.community::after {
  content: url("/assets/collective/shapwsCardTop.svg");
  position: absolute;
  top: 0;
  right: 0;
}
.community .community-title h1 {
  font-size: 36px;
}
.community .community-content {
  width: 100%;
}
.community .community-content .content-text {
  width: 40%;
  max-width: 450px;
  text-align: left;
}
.community .community-content .content-text p {
  color: #5e6282;
  font-weight: 600;
  font-size: 20px;
  line-height: 22.5px;
  letter-spacing: 1px;
}
.community .community-content .content-text span {
  font-size: 18px;
  line-height: 22.5px;
  letter-spacing: 1px;
  color: #5e6282;
}
.community .community-content .content-images {
  flex: 1 1;
  width: 40%;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/Comment/style.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.comment {
  margin-top: 4rem;
  padding: var(--paddingSection);
}
.comment .ant-card {
  width: 95% !important;
  min-height: 420px;
  display: flex !important;
  flex-direction: column !important;
}
.comment .ant-card .ant-card-body {
  text-wrap: pretty;
}
.comment .ant-card .comment-card-title {
  margin: 2rem 0 0.5rem 0;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/Header/style.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#header {
  min-height: 12dvh;
  background: var(--headerBg);
  padding: var(--paddingSection);
}
#header .block {
  display: none;
}
#header .header-links li a {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#header .header-links li a:hover {
  opacity: 0.7;
}
#header .circle-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}
#header .circle-wrapper::-webkit-scrollbar {
  display: none;
}
#header .circle-wrapper .circle-item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid purple;
  box-shadow: var(--boxShadow);
  cursor: pointer;
}

.story-modal .ant-modal-content {
  background: #252425 !important;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/Sidebar/style.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.menu-burger {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 10px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/ShapeLoading/style.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.shape-loading {
  border-radius: 50%;
  background: rgb(226, 226, 226);
  position: relative;
  overflow: hidden;
  box-shadow: var(--boxShadow);
}
.shape-loading::before {
  content: "";
  width: 20%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8392156863);
  position: absolute;
  left: -100%;
  filter: blur(5px);
  animation: swipe 1s ease infinite;
}

@keyframes swipe {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: skewX(-10deg) translateX(8rem);
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/JoinOutTeam/style.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.join {
  margin-top: 4rem;
  padding: var(--paddingSection);
}
.join .join-image {
  max-width: 700px;
  width: 100%;
  position: relative;
}
.join .join-image img {
  width: 100%;
}
.join .join-image .count-users {
  position: absolute;
  background: #fff;
  width: 210px;
  height: 65px;
  border-radius: 20px;
  box-shadow: var(--boxShadow);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  bottom: 20%;
  left: 15%;
  text-transform: capitalize;
  font-weight: 600;
  padding: 1rem;
}
.join .join-card .card-item {
  width: 100%;
  min-height: 527px;
  max-width: 961px;
}
.join .join-card .card-item .ant-card-body {
  padding: 64px 106px 0px 106px;
}
.join .join-card .card-item h1 {
  color: #fff;
  font-size: 36px;
}
.join .join-card .card-item p {
  font-size: 18px;
}
.join .join-card .card-item .card-link {
  margin-top: 2rem;
}
.join .join-card .card-item .card-link h3 {
  font-size: 20px;
  text-transform: capitalize;
  color: #192348;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.join .join-card .card-item .card-link h3:hover {
  opacity: 0.8;
}
.join .join-card .card-item .card-link h3:hover .arrow-icon {
  transform: translateX(1rem);
  transition: all 0.2s ease-in-out;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/OtherService/style.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.other-section {
  margin-top: 3rem;
  min-height: 533px;
  background: var(--primary);
  box-shadow: var(--boxShadow);
  padding: var(--paddingSection);
}
.other-section .other-carousel {
  width: 85%;
  margin: 0 auto;
}
.other-section .other-title h1 {
  color: #fff;
  font-size: 36px;
}
.other-section .other-card {
  width: 319px;
  height: 318px;
}
.other-section .other-img {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}
.other-section .other-img img {
  width: 236px;
  height: 171px;
}
.other-section #present {
  bottom: -0.4rem !important;
  right: 0;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/pages/main/style.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@media only screen and (max-width: 575px) {
  .footer::before {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scaleX(-1);
  }
  .footer .footer-copyright {
    z-index: 9999;
    padding: 0.5rem;
    background: var(--white);
    border-radius: 5px;
    box-shadow: var(--boxShadow);
  }
}
/* Mobile Styles (up to 767px) */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 20px !important;
  }
  p,
  a {
    font-size: 12px !important;
  }
  header {
    padding: 1rem 0.5rem !important;
    gap: 0.2em;
  }
  header .circles-wrapper {
    padding: 0 !important;
  }
  header .circles-wrapper .circle-item {
    margin-bottom: 8px !important;
  }
  header .block {
    display: flex !important;
  }
  header #logo {
    width: 170px;
  }
  header ul,
  header .switcher {
    display: none !important;
  }
  .carousel #carousel-item {
    height: auto !important;
    max-height: 300px !important;
  }
  .achievements {
    padding: 2rem !important;
    flex-direction: column;
    gap: 2rem 0;
  }
  .achievements .title-wrapper {
    width: 100%;
    text-align: center;
  }
  .achievements .title-wrapper .achievements-title {
    width: 100% !important;
  }
  .achievements .box-wrapper {
    width: 100%;
    gap: 2rem !important;
  }
  .achievements .box-wrapper .box-item {
    margin: auto auto;
  }
  .services {
    padding: 2rem !important;
    margin-top: 0.5rem !important;
  }
  .services .card-title {
    flex-wrap: wrap !important;
  }
  .services .service-content {
    margin-top: 2rem !important;
  }
  .services .service-content .content-left {
    width: 95% !important;
    margin: 0 !important;
  }
  .services .service-content .content-left .card-item-left {
    width: 100% !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .services .service-content .content-left .card-item-left .card-title img {
    height: 50px !important;
  }
  .services .service-content .content-right {
    margin: 0 !important;
  }
  .services .service-content .content-right .card-item {
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .services .service-content .content-right .card-item .ant-card-head-title {
    font-size: 16px !important;
  }
  .services .service-content .content-right .card-item .btn {
    position: relative !important;
    bottom: -0.5rem !important;
  }
  .other-section {
    padding: 2rem !important;
    margin-top: 0.5rem !important;
  }
  .community {
    margin-top: 3rem !important;
    padding: 2rem !important;
  }
  .community .community-content {
    flex-direction: column !important;
  }
  .community .community-content .content-text {
    width: 100% !important;
  }
  .community .community-content .content-text p {
    font-size: 14px !important;
  }
  .community .community-content .content-text span {
    font-size: 12px !important;
  }
  .community .community-content .content-images {
    width: 100% !important;
    justify-content: center;
  }
  .join {
    padding: 2rem !important;
    margin-top: 2rem !important;
  }
  .join .card-item h1 {
    font-size: 22px !important;
  }
  .join .card-item .ant-card-body {
    padding: 2rem !important;
  }
  .join .join-card {
    width: 100% !important;
  }
  .join .join-card .ant-card-head-title {
    text-wrap: pretty !important;
  }
  .join .join-card .ant-card-head-title h1 {
    font-size: 18px !important;
  }
  .join .join-image img {
    max-width: 100% !important;
  }
  .join .join-image .count-users {
    width: 50% !important;
    font-size: 14px !important;
  }
  .join .card-link h3 {
    font-size: 14px !important;
  }
  .partners {
    padding: 2rem !important;
    margin-top: 2rem !important;
  }
  .partners .partners-title h1 {
    font-size: 24px !important;
  }
  .partners .partners-images {
    justify-content: center !important;
  }
  .comment {
    padding: 2rem !important;
    margin-top: 2rem !important;
  }
  .footer {
    padding: 2rem !important;
    margin-top: 2rem !important;
  }
  .footer .footer-right {
    flex-direction: column;
  }
}
/* Tablet Styles (768px to 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 24px !important;
  }
  p,
  a {
    font-size: 14px !important;
  }
  header {
    padding: 1rem 2rem !important;
  }
  header ul {
    flex: 0.7 1 !important;
  }
  #carousel-item {
    background-size: contain !important;
  }
  .achievements {
    padding: 2rem !important;
    flex-direction: column;
    gap: 2rem 0;
  }
  .achievements .title-wrapper {
    width: 100%;
    text-align: center;
  }
  .achievements .title-wrapper .achievements-title {
    width: 100% !important;
    font-size: 35px !important;
  }
  .achievements .box-wrapper {
    width: 100%;
    gap: 2rem !important;
  }
  .achievements .box-wrapper .box-item {
    margin: auto auto;
  }
  .services {
    padding: 2rem !important;
  }
  .services .service-content {
    margin-top: 2rem !important;
  }
  .services .service-content .content-left {
    width: 100% !important;
    margin: 0 !important;
  }
  .services .service-content .content-left .card-item-left {
    width: 558px !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .community {
    padding: 2rem !important;
  }
  .community .community-content .content-text p {
    font-size: 14px !important;
  }
  .community .community-content .content-text span {
    font-size: 12px !important;
  }
  .join {
    padding: 2rem !important;
    margin-top: 2rem !important;
  }
  .join .card-item h1 {
    font-size: 28px !important;
  }
  .join .card-item .ant-card-body {
    padding: 3rem !important;
  }
  .join .join-image img {
    max-width: 100% !important;
  }
  .join .card-link h3 {
    font-size: 14px !important;
  }
  .comment {
    padding: 2rem !important;
    margin-top: 2rem !important;
  }
  .partners {
    padding: 2rem !important;
    margin-top: 2rem !important;
  }
  .partners .partners-title h1 {
    font-size: 28px !important;
  }
  .footer {
    padding: 2rem !important;
    margin-top: 2rem !important;
  }
  .footer .footer-right {
    flex-direction: column;
  }
}
/* Desktop Styles (1024px and above) */
@media only screen and (min-width: 1024px) {
  /* Your desktop styles here */
  p,
  a {
    font-size: 17px;
  }
}
@media only screen and (max-width: 1290px) {
  .other-carousel {
    width: 100% !important;
  }
  .other-carousel .slick-slide {
    margin: 0 auto !important;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/Partners/style.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.partners {
  margin-top: 4rem;
  padding: var(--paddingSection);
  background: var(--white);
  box-shadow: var(--boxShadow);
  min-height: 362px;
}
.partners .partners-title {
  margin-bottom: 1rem;
}
.partners .partners-title h1 {
  font-size: 36px;
}
.partners .partners-images img {
  width: 100%;
  height: 100%;
  max-width: 160px;
  max-height: 80px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/reusables/Slider/style.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.slide-container img {
  width: 95% !important;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/Services/style.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.services {
  padding: var(--paddingSection);
  margin-top: 3rem;
}
.services .services-title h1 {
  font-size: 36px;
}
.services .service-content {
  margin-top: 3rem;
  width: 100%;
}
.services .service-content .content-left {
  margin-right: 4em;
}
.services .service-content .content-left .card-title h1 {
  color: #fff;
  font-size: 28px;
}
.services .service-content .content-left .line-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.services .service-content .content-left .card-item-left {
  width: 477px;
  height: 564px;
}
.services .service-content .content-right .card-item {
  width: 100%;
  max-width: 558px;
  min-height: 290px;
  height: 100%;
}
.services .service-content .content-right .card-item p {
  font-size: 14px;
}
.services .service-content .content-right .card-item .btn {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.services .service-content .content-right .card-item .line-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/reusables/Button/style.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.btn-reusable {
  min-width: 141px;
  padding: 0 1.5rem;
  height: 36px;
  outline: none;
  border: none;
  border-radius: 0 5px 5px 5px;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  background: linear-gradient(180deg, #0066ff 0%, #444cfc 100%);
  position: relative;
  transition: all 0.6s ease-in-out;
}
.btn-reusable:hover {
  background: linear-gradient(180deg, #0066ff 0%, #6068ff 100%);
}
.btn-reusable::before {
  content: url("/assets/service/shapesBtn.svg");
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.6s ease-in-out;
}
.btn-reusable:hover::before {
  transform: translateX(530%) rotate(180deg);
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/@core/components/Comment/Modal/style.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modal-service .modal_footer {
  height: 70px;
}
.modal-service .modal-title {
  border-radius: 8px 8px 0 0;
  height: 70px;
  background: var(--primary);
}
.modal-service .modal-title h1 {
  color: #fff;
}
.modal-service .ant-modal-close svg {
  color: #fff !important;
}
.modal-service .ant-modal-content {
  padding: 0 !important;
}
.modal-service .ant-modal-body {
  padding: 24px 5% 0 5% !important;
}
.modal-service .ant-input,
.modal-service .ant-select-selector {
  min-height: 40px;
  border-radius: 4px;
}
