@use '/src/@core/style/media';

// float-btn

.ant-float-btn {
  width: 65px;
  height: 65px;
  background: var(--primary);
  z-index: 99999;
  @media screen and (max-width: 768px) {
    width: 50px;
    height: 50px;
    bottom: 1.5rem;
    right: 1rem;
  }
  .ant-float-btn-body {
    background: var(--primary);
  }
  .ant-float-btn-icon {
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
  }
}
.floatBtnAnimate {
  position: fixed;
  bottom: 2.5rem;
  right: 1rem;
  width: 80px;
  height: 80px;
  background: #b0bfff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: move 1s infinite forwards linear;
  z-index: 9999;
  @media screen and (max-width: 768px) {
    width: 60px;
    height: 60px;
    bottom: 1.1rem;
    right: 0.7rem;
  }
}

@keyframes move {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
.float-button {
  transition: all 0.3s ease-in-out;
}
.float-button.hidden {
  opacity: 0;
  visibility: hidden;
}

.float-button.visible {
  opacity: 1;
  visibility: visible;
}
