.achievements {
  min-height: 355px;
  background: var(--white);
  box-shadow: var(--boxShadow);
  margin-top: 4rem;
  padding: var(--paddingSection);
  flex-wrap: wrap;
  .title-wrapper {
    flex: 1;
    .achievements-title {
      font-size: 60px;
      width: 90%;
    }
  }
  .box-wrapper {
    flex: 1.5;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    .box-item {
      flex-basis: 350px;
      h1 {
        font-size: 40px;
      }
    }
  }
}
