.comment {
  margin-top: 4rem;
  padding: var(--paddingSection);
  .ant-card {
    width: 95% !important;
    min-height: 420px;
    display: flex !important;
    flex-direction: column !important;
    .ant-card-body {
      text-wrap: pretty;
    }
    .comment-card-title {
      margin: 2rem 0 0.5rem 0;
      img {
        object-fit: cover;
      }
    }
  }
}
