#header {
  min-height: 12dvh;
  background: var(--headerBg);
  padding: var(--paddingSection);
  .header-links li a {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
}
